* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

body {
  width: 1903px;
  height: auto;
  margin: 0 auto; }

.header {
  position: relative;
  margin: 0 auto;
  padding: 0; }
  .header__menu {
    display: flex;
    justify-content: space-between; }
    .header__menu-logo {
      width: 87px;
      height: 47px;
      padding: 30px 0 0 70px; }
    .header__menu-list {
      padding-left: 287px;
      list-style: none;
      font-size: 16px;
      font-weight: 300;
      display: flex;
      justify-content: end;
      background-size: 800.4px 162.88px; }
    .header__menu-link {
      padding-top: 39px;
      padding-right: 31px; }
    .header__menu-link:last-of-type {
      padding-right: 75px; }
    .header__menu-link > a {
      text-decoration: none;
      color: #FFFFFF; }
  .header__rectangle-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 800px;
    border-top: 162px solid #BE2C34;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%, 1.5% 21%);
    z-index: -1; }
  .header__rectangle-2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 800px;
    border-top: 172px solid #BEA363;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 100% 100%, 1.5% 20%);
    z-index: -2; }
  .header__heading {
    margin-left: 70px;
    margin-top: 160px; }
    .header__heading h1 {
      width: 511px;
      height: 60px;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 60px;
      color: #000000; }

.main__row {
  width: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 72px;
  padding-right: 70px; }
  .main__row-item1 {
    height: 592px;
    width: 433px;
    background: url(/img/3rd-page/businessman.jpg);
    background-repeat: no-repeat; }
    .main__row-item1 h2 {
      margin-top: 414px;
      margin-left: 48px;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 33px;
      color: #FFFFFF; }
    .main__row-item1 p {
      width: 337px;
      height: 48px;
      margin-top: 9px;
      margin-left: 48px;
      margin-bottom: 18px;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF; }
    .main__row-item1 a {
      width: 166px;
      height: 24px;
      margin-left: 47px;
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF; }
    .main__row-item1 hr {
      margin-top: 1.62px;
      margin-left: 47.43px;
      width: 137.4px;
      height: 3.12px;
      background: #BE2C34;
      border: none; }
  .main__row-item2 {
    height: 592px;
    width: 433px;
    background: url(/img/3rd-page/hands.jpg);
    background-repeat: no-repeat; }
    .main__row-item2 h2 {
      margin-top: 414px;
      margin-left: 48px;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 33px;
      color: #FFFFFF; }
    .main__row-item2 p {
      width: 337px;
      height: 48px;
      margin-top: 9px;
      margin-left: 48px;
      margin-bottom: 18px;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF; }
    .main__row-item2 a {
      width: 166px;
      height: 24px;
      margin-left: 47px;
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF; }
    .main__row-item2 hr {
      margin-top: 1.62px;
      margin-left: 47.43px;
      width: 137.4px;
      height: 3.12px;
      background: #BE2C34;
      border: none; }
  .main__row-item3 {
    height: 592px;
    width: 433px;
    background: url(/img/3rd-page/laptop.jpg);
    background-repeat: no-repeat; }
    .main__row-item3 h2 {
      margin-top: 414px;
      margin-left: 48px;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 33px;
      color: #FFFFFF; }
    .main__row-item3 p {
      width: 337px;
      height: 48px;
      margin-top: 9px;
      margin-left: 48px;
      margin-bottom: 18px;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF; }
    .main__row-item3 a {
      width: 166px;
      height: 24px;
      margin-left: 47px;
      text-decoration: none;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF; }
    .main__row-item3 hr {
      margin-top: 1.62px;
      margin-left: 47.43px;
      width: 137.4px;
      height: 3.12px;
      background: #BE2C34;
      border: none; }

.secondary {
  margin: 60.81px 77px 60.44px 79px; }
  .secondary__header {
    margin: 0 auto;
    margin-bottom: 92px;
    width: 573.88px;
    height: 66px;
    text-align: center; }
    .secondary__header h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 33px;
      text-align: center;
      color: #000000; }
  .secondary__items {
    display: flex;
    justify-content: space-between; }
  .secondary__item {
    width: 360px; }
    .secondary__item-img {
      width: 62.21px;
      height: 64.48px;
      display: block;
      margin: 0 auto;
      margin-bottom: 15.75px; }
    .secondary__item-header {
      width: 359px;
      height: 54.81px;
      margin-bottom: 35.28px;
      font-style: normal;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #000000; }
    .secondary__item-descr {
      width: 359px;
      height: 149.11px;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #000000; }

.benefits {
  width: auto;
  height: 610px;
  padding-top: 43.39px;
  padding-left: 280px;
  background: url(/img/1st-page/afs.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .benefits__heading {
    text-align: left;
    margin-bottom: 43.11px; }
    .benefits__heading h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      color: #FFFFFF; }
    .benefits__heading p {
      width: 1052.83px;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      line-height: 22px;
      color: #FFFFFF; }
  .benefits__descr {
    display: flex;
    justify-content: start; }
    .benefits__descr-text {
      margin-left: 66.34px; }
      .benefits__descr-text_header {
        width: 737px;
        height: 60px; }
        .benefits__descr-text_header h2 {
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
          color: #FFFFFF; }
    .benefits__descr-items {
      width: 737px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap; }
    .benefits__descr-item {
      margin-top: 42.19px;
      display: flex; }
      .benefits__descr-item .img1 {
        width: 30px;
        height: 49px; }
      .benefits__descr-item .img2 {
        width: 46px;
        height: 46px; }
      .benefits__descr-item .img3 {
        width: 47px;
        height: 43px; }
      .benefits__descr-item .img4 {
        width: 39px;
        height: 49px; }
      .benefits__descr-item .img5 {
        width: 40px;
        height: 36px; }
      .benefits__descr-item p {
        margin-left: 35px;
        width: 230px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF; }
      .benefits__descr-item .p3 {
        width: 300px;
        margin-left: 26px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF; }

.footer {
  width: auto;
  height: 153.84px;
  background: #363636; }
  .footer__links {
    display: flex;
    justify-content: space-between; }
    .footer__links-item1 {
      margin-top: 19.76px;
      margin-left: 70px; }
    .footer__links-item2 {
      margin-top: 38px;
      margin-right: 71.26px; }
  .footer hr {
    margin-top: 22.94px;
    margin-left: 20.63px;
    margin-right: 20.63px;
    width: 1400px;
    border: 1px solid #FFFFFF; }
  .footer__descr {
    display: flex;
    justify-content: space-between; }
    .footer__descr-policy {
      margin-top: 18.88px;
      margin-left: 70px; }
      .footer__descr-policy a {
        text-decoration: none;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 124%;
        text-align: right;
        color: #FFFFFF; }
    .footer__descr-rights {
      margin-top: 21.88px; }
      .footer__descr-rights a {
        text-decoration: none;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 124%;
        text-align: right;
        color: #FFFFFF; }
    .footer__descr-design {
      margin-top: 16.88px;
      margin-right: 71.26px; }
      .footer__descr-design a {
        text-decoration: none;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 124%;
        text-align: right;
        color: #FFFFFF; }
